@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&family=Poppins:wght@400;500;600&display=swap');

.i {
  background-image: url("../../img/bg6.png");
  background-position: center top;
  background-repeat: no-repeat;
  display: fixed;
  height: 100vh;
  
}

.i .i2{
  height: 80vh;
}

.i-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i2{
  display: flex;
  align-items: center;
  position: absolute;
  width: 95%;
  top: 110px;
  padding-left: 5%;
  padding-right: 10px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-radius: 20px;
  padding-bottom: 2.5%;
}




/* .i-left-wrapper {
  padding: 40px;
  height: 50%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #327D8B;
} */

.i-intro {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.texto{
  width: 100%;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.5px;
}

.i-name {
  font-size: 60px;
}

.i-title {
  margin-top: 5px;
  height: 45px;
  overflow: hidden;
}
.i-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}
.i-title-item {
  text-align:center;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  color:#327D8B;
  display: flex;
}

.i-desc{
  display: flex;
  width: 60%;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
.divCv{
  display: flex;
}
.cv{
  /* position: relative;
  top:50px; */
  margin-top: 50px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;

  background: rgba(255, 255, 255, 0.36);
  box-shadow: 2px 4px 41px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(60px);
  border-radius: 4px;
}
.cv:hover{

  transform: scale(1.05);
    transition: all 0.1s ;
    text-decoration: none;
    color: #327D8B;
}

@media screen and (max-width: 760px) {
  .i-desc{
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .texto{
    font-size: 50px;
  }
  .cv{
    margin-top: 10px;}
  .i2{
    text-align: center;
    padding-right: 5%;
  }
  .divCv{
    justify-content: center;
  }

  .i-title-item {
    justify-content: center;
  }

}
@media screen and (min-height: 760px) {
  .i .i2{
    height: 80vh;
  }
}

@media screen and (min-height: 800px) {
  .i {
    background-position: top;
    background-repeat:inherit;
    height: 100vh;
  }
  .i .i2{
    height: 80vh;
  }
}
@media screen and (min-height: 812px) {
  .i .i2{
    height: 75vh;
  }
}

/* cellphones */
@media screen and (min-height: 850px) {
  .i .i2{
    height: 75vh;
  }
}
@media screen and (min-height: 883px) {
  .i {
    background-position: top;
    background-repeat:inherit;
    height: 100vh;
  }
  .i .i2{
    height: 80vh;
  }
}
@media screen and (min-height: 896px) {
  .i {
    background-position: top;
    background-repeat:inherit;
    height: 100vh;
  }
}
@media screen and (min-height: 915px) {
  .i {
    background-position: top;
    background-repeat:inherit;
    height: 100vh;
  }
  .i .i2{
    height: 85vh;
  }
}








@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

